<div class="container-fluid">
    <div class="row col-md-8 m-auto">
       <div class="col-md-10">
        <h1 class="heading-one">Write your thought here</h1>
       </div>
        <p class="text-home">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore doloremque eaque sint eligendi aut ut rerum non ipsa veritatis? Dolores non repellat dolorem autem nisi eligendi placeat facere ad doloribus.</p>
    </div>
</div>